.modal.fade(tabindex="-1",role="dialog",aria-labelledby="myModalLabel")#toLogin
    .modal-dialog
        .modal-content
            .modal-header
                h2.text-center 请登录
            .modal-body
                .row
                    .col-md-11.col-xs-12
                        form
                            .form-group.g1
                                label(for="username") 用户名
                                input(type="text",placeholder="username").form-control#username
                            .form-group.g2
                                label(for="password") 密码
                                input(type="password",placeholder="password").form-control#password
                            .checkbox
                                label
                                input(type="checkbox")
                                span remember me
                        .action-button
                            button.btn.btn-primary#btn-login 登录
                            button.btn.btn-default#btn-register 注册