extends head
block title
  title Teacher
block content
  .outer.row
    h2.text-center Teacher Page
    .col-md-6.col-xs-14
      - if(user === ''||user === undefined)
        .alert.alert-warning 你还没有登录
          a(href="#",data-target="#toLogin",data-toggle="modal") 登录
      - else
        .alert.alert-success 点击修改密码
          a(href="#",data-target="#toChgpsd",data-toggle="modal") 修改
        include chgpsd      
      form
        .form-group.g1
          label(for="username") 姓名
          input(type="text",placeholder="username",value = user).form-control#input-name
        .form-group.g2
          label(for="password") 科目
          .input-group
            input(value = sbj).form-control#input-sbj
            .input-group-btn
              select.form-control#sbj
                option(value="algorithm") algorithm
                  //- a(href="javascript:void(0)") algorithm
                option(value="computer network") computer network
                  //- a(href="javascript:void(0)") computer network
                option(value="ooad") ooad
                  //- a(href="javascript:void(0)") ooad
        .form-group.g3
          label(for="time") 考试时间
          .input-group
            input(value = time).form-control#input-time
            .input-group-btn
              select.form-control#time
                option(value="mid") mid
                  //- a(href="javascript:void(0)") algorithm
                option(value="end") end
                  //- a(href="javascript:void(0)") computer network
                option(value="test") test
                  //- a(href="javascript:void(0)") ooad
        .form-group.g4
          label(for="password") 留言（非必须）
          textarea(name="message", rows="3").form-control#notes
        .form-group.g5
          input(type="file",accept="text/plain,.pdf,.docx")#input-file
      - if(user !== ''&&user !== undefined)
        .form-group
          button.btn.btn-primary#btn-post Post
      include login